form {
    margin-top: 20px;
    margin-bottom: 50px;
}
body {
    padding: 20px;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}
ul {
    padding: 0px;
    float: right;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
li {
    display: inline-block;
    margin: 0 10px 0 0
}
